body{
    color:#e98b19;
    background:#022033;
    margin: 0px;
    font-family: "Black Ops One", system-ui;
    margin-bottom: 100px;
}

header {
border-bottom: solid 2px #79480b;
padding: 20px;
font-size: 50px;
color: #e98b19
}

.chamada {
    background: #0d4f76;
    padding-bottom: 80px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 30px;
}
p {
    font-size: 20px;
}

img {
    height: 135px;
}
.categoria-videos  {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  .categoria-videos img {
    opacity: 0.5;
    height: 150px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(15, 42, 77);
}

  section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px
  }